$second-text: #9093A6;
$main-font: "Roboto", sans-serif;
$orange-bright: #E1B168;
$black-color: #000000;
$border-color: #D4D7E5;
$orange-border: 1px solid $orange-bright;
$button-text-color: #3F4255;
$header-color: #121232;
$body-background-color: #292E36;
$body-light-color: #FFF8F5;
$josefin-sans-uniquifier:"Josefin Sans", sans-serif;
$cormorant-infant-uniquifier: "Cormorant Infant", serif;
$text-decor-color: #555555;